body {
    background-color: #8bb3ff;
}

h1 {
    text-align: center;
    font-family: cursive;
    font-weight: 900;
    font-size: 50px;
}

/* RULES */
.rules {
    background-color: #dbeafe;
    margin-top: 70px;
    width: 770px;
    height: 360px;
    /* border:2px solid black; */
    border-radius: 10px;
}

.rules p {
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    /* font-weight: 900; */
}


/* LIST */
.rules ul {
    line-height: 1.8;
    list-style-type: none;
}

.c1 {
    list-style-type: circle;
}

/* Button */
.btn {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 7px;
    border: none;
    height: 25px;
    background-color: grey;
    font-weight: 760;
}

button:hover {
    border: 2px solid cornflowerblue;
}

@media screen and (max-width: 780px) {
    h1 {
        font-size: 40px;
    }

    .rules {
        width: auto;
        height: auto;
        border-radius: 10px;
    }
}

@media screen and (max-width: 330px) {
    /* Player Details */

    #details {
        height: fit-content;
        width: 300px;
        border-radius: 10px;
        background-color: red;
    }


    h3 {
        text-align: center;
    }

    .p_details {
        margin: 40px 0 0 20px;
    }

    input {
        border-radius: 5px;
    }
}

::-webkit-scrollbar-track {
    color: black;
}

/*  Details */

#details {
    height: fit-content;
    width: 300px;
    border-radius: 10px;
    background-color: #dbeafe;
}

h3 {
    text-align: center;
}

.p_details {
    margin: 40px 0 0 20px;
}

input {
    border-radius: 5px;
}

#btn2 {
    margin-top: 20px;
}



/* Turns */
#turns {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 150px;
    background-color: #dbeafe;
    border: 2px solid black;
    border-radius: 10px;
}

.Container {
    width: 770px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* Symbols and its positioning */
.fa-times {
    color: darkblue;
    font-size: 24px;
}

.far-circle {
    color: darkcyan;
    font-size: 24px;
}


.p_turn {
    position: relative;
    width: 90px;
    height: 70px;
    border: 2px solid black;
    border-radius: 7px;
}


.symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#pp1,
#pp2 {
    text-align: center;
}






/* Game */
.d {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    height: 306px;
    width: 312px;
    position: relative;

    left: 1300px;
    bottom: 660px;
    /* right: 190px;
    top: 190px; */
}

.divs {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

#d1,
#d2,
#d3 {
    border-top: none;
}

#d1,
#d4,
#d7 {
    border-left: none;
}

#d7,
#d8,
#d9 {
    border-bottom: none;
}

#d3,
#d6,
#d9 {
    border-right: none;
}



/* .fa-times {
    color: darkblue;
    font-size: 100px;  
    padding-left: 10px;
} */


/* .far-circle large icon {
    color: darkblue;
    font-size: px;  
    padding-left: 10px;
} */

.large {
    padding: 5px 0 0 6px;
    font-size: 88px;
}

.icon {
    color: darkblue;
}



/* Display Result */
.result {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 1200px;
    bottom: 515px;
    height: 70px;
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #dbeafe;
}


#disp_result {
    font-family: cursive;
    font-weight: 500;
    font-size: 30px;
}

/* error display */

.dm,
.err_sym {
    margin-top: 0px;
    padding-left: 86px;
}

small {
    color: red;
}

/* Play Again and Finish */
#PAF {
    margin-top: 20px;
    position: relative;
    left: 1200px;
    bottom: 523px;
    height: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .finish_again_section {
    height: 100px;
    margin-top: 40px;
    width: 100px;
} */

/* B4, B5*/
.fabtn {
    height: 35px;
    width: 100px;
    margin-left: 20px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}


/* Upon finishing */

#game_ends {
    position: relative;
    left: 1400px;
    bottom: 535px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    width: 100px;
    height: 45px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #dbeafe;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    overflow-x: auto;
    display: block;
    position: absolute;
    top: 990px;
    left: 1125px;
    align-items: center;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
    font-size: 1rem; /* Adjust font size */
}

table th {
    background-color: #0064AD;
    color: #fff;
    font-weight: 600;
}


.leaderboard-heading {
    /* text-align: center; Center align the text */
    font-size: 24px; /* Adjust font size as needed */
    margin-bottom: 20px; /* Add space below the heading */
    /* color: #333; Choose a text color */
    font-family: cursive;
    position: absolute;
    top: 940px;
    left: 1380px;
    /* text-align: center; */
}



